body {
  margin: 0
  padding: 0
  border: 0
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: "background.png";

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  

.floater {
  position: fixed;
  background: #ffffff;
  color: #008000;
  font-style: italic;
  font-family: Arial, sans-serif; 
}
.floater>a {
  text-decoration: none;
}
.floater>a:hover {
  color: #00FF00;
}


#topleft {
  top: 0;
  left: 0;
  color: #008000
}



#topright {
  top: 0;
  right: 0;
  color: #008000
}

#botleft {
  bottom: 0;
  left: 0;
  color: #008000
}

#botright {
  bottom: 0;
  right: 0;
  color: #008000
}

#archives {
  position: absolute;
  top: 100%;
  left: 50%;
  color: e0ffff;
  font-size: 450%;
}

#center {
    position: absolute;
    color: #CC0099;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);  
    font-size: 700%;

    margin: 0 auto;
}
    #bottomtext {
      position: absolute;
       color: #FF0000;
      top: 0;
      left: 50%;
      color: #FF0000;
      transform: translate(-50%, 0);
      font-size: 450%;
      
      margin: 0 auto;
  }
