body {
  margin: 0
  padding: 0
  border: 0
}

.floater {
  position: fixed;
  background: #000000
  color: #008000
}
.floater>a {
  text-decoration: none;
}
.floater>a:hover {
  color: #00FF00;
}
.floater>a {
  font: italic Arial, Helvetica, sans-serif; 
} 

#topleft {
  top: 0;
  left: 0;
}

#topright {
  top: 0;
  right: 0;
}

#botleft {
  bottom: 0;
  left: 0;
}

#botright {
  bottom: 0;
  right: 0;
}

#center {
    position: absolute;
    color: #CC0099;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);  
    font-size: large;

    margin: 0 auto;
}
    
